//Theme Colors

$green: #198754 !default;
$teal: #20c997 !default;
$darkgreen: #2E4E1E;


// White - Gray colors
// scss-docs-start gray-color-variables
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
// scss-docs-end gray-color-variables


// Mixins


@mixin shared-styles {
  @extend .card;
  width: 18rem;

}

//Background



.background {
  background-image: url('../media/Background.png');
  background-size: cover; // Cover the entire element
  background-position: center; // Center the image
  background-repeat: no-repeat; // Prevent repetition
  height: auto;
  min-height: 150vh;

}

.text {
  background-color: rgba(0, 0, 0, 0.425); // Fully transparent background
  color: #ffffff; // White text color
  margin-left: px;
}

.tittlehobbies,
.titleobjectives {
 @extend .bg-primary;
 color: #ffffff;
 @extend .container-fluid;

}

.about {
  text-align: center;
  @extend .text;
}

.standardfooter {


  @extend .bg-primary;
  @extend .text;
}

//TODO: MAKE IT CONTENT FRIENDLY
.img-responsive {
  width: 70%;
  height: 70%;
  object-fit: scale-down; // Options: contain, cover, fill, none, scale-down

}




.footertext {
  color: #ffffff; // White text color

}

.navigationbar {

  @extend .navbar;
  @extend .navbar-expand-lg;
  @extend .navbar-dark;
  @extend .p-md-3;

  padding: 20px;

  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    .myobjectivesnav,.compscinav,
    .hobbiesnav,
    .aboutnav,.contactnav {
      position: relative;
      margin-right: 15px;
      padding: 0;

      // Styling the <a> inside the <li>
      .nav-link {
        display: block;
        padding: 10px 20px;
        background-color: #2E4E1E; // Dark green
        color: white;
        text-decoration: none;
        font-weight: bold;
        position: relative;
      }

      //triangles on the <li>
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
      }

      // Left triangle
      &::before {
        left: -15px;
        border-width: 20px 15px 25px 0;
        border-color: transparent #2E4E1E transparent transparent;
      }

      // Right triangle
      &::after {
        right: -15px;
        border-width: 20px 0 20px 15px;
        border-color: transparent transparent transparent #2E4E1E;
      }

      // Hover effect to change background color
      &:hover {
        .nav-link {
          background-color: #579e3e; // Darker green

          &::before,
          &::after {
            border-color: transparent #1F3B15 transparent transparent;
          }
        }
      }
    }


  }
}


.careercontent, .downloadable {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px; // Espacio entre las tarjetas
  padding-top: 80px;
  padding-bottom: 80px;
}


.whycompscience,
.favoritecourses,
.people,.random,.thiswebproject,.mvcdotnetexample {
  @extend .card;
}



$primary: $darkgreen;
$secondary: $green;

@import "../node_modules/bootstrap/scss/bootstrap.scss";