//Theme Colors

$blue: #0d6efd !default;
$green: #198754 !default;
$teal: #20c997 !default;
$darkgreen: #2E4E1E;


// White - Gray colors
// scss-docs-start gray-color-variables
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
// scss-docs-end gray-color-variables


//Background
.background {
  background-image: url('../media/Background.png');
  background-size: cover; // Cover the entire element
  background-position: center; // Center the image
  background-repeat: no-repeat; // Prevent repetition

}


//TODO: MAKE IT CONTENT FRIENDLY
.img-responsive {
  width: 70%;
  height: 70%;
  object-fit: scale-down; // Options: contain, cover, fill, none, scale-down

}


.text {
  background-color: rgba(0, 0, 0, 0.425); // Fully transparent background
  color: #ffffff; // White text color
  margin-left: px;
}

.navigationbar {

  @extend .navbar;
  @extend .navbar-expand-lg;
  @extend .navbar-dark;
  @extend .p-md-3;

  padding: 20px;

  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    .nav-item {
      position: relative;
      margin-right: 15px;
      padding: 0;

      // Styling the <a> inside the <li>
      .nav-link {
        display: block;
        padding: 10px 20px;
        background-color: #2E4E1E; // Dark green
        color: white;
        text-decoration: none;
        font-weight: bold;
        position: relative;
      }

      // Adding the triangles on the <li>
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
      }

      // Left triangle
      &::before {
        left: -15px;
        border-width: 20px 15px 20px 0;
        border-color: transparent #2E4E1E transparent transparent;
      }

      // Right triangle
      &::after {
        right: -15px;
        border-width: 20px 0 20px 15px;
        border-color: transparent transparent transparent #2E4E1E;
      }

      // Hover effect to change background color
      &:hover {
        .nav-link {
          background-color: #1F3B15; // Darker green

          &::before,
          &::after {
            border-color: transparent #1F3B15 transparent transparent;
          }
        }
      }
    }


  }
}



$primary: $darkgreen;
$secondary: $green;

@import "../node_modules/bootstrap/scss/bootstrap.scss";