<nav class="navigationbar navbardesign">
  <div class="container">
      <a class="navbar-brand" href="index.shtml">Newton Dev</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
          <div class="mx-auto"></div>
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link text-white" href="objectives.shtml">My objectives</a>
              </li>
              <li class="nav-item">

                  <a class="nav-link text-white" href="computerscience.shtml">Computer Science</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="hobbies.shtml">Hobbies</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="about.shtml">About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="contact.shtml">Contact</a>
              </li>
          </ul>
      </div>
  </div>
</nav>